.herocontainer{
  
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(24,19,16,1) 35%, rgba(54,49,46,1) 95%);
}
.herotext{
    color: antiquewhite;
    margin: 80px 60px;
    font-size: 3.8rem;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.codingbg{
    
}

.textcontainer{
    display: flex;
    justify-content: center;
    align-items: center;

}